html {
    height: 100%;
}
body {
    background-image: url('../mediafiles/files/road.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #272727;
}
.wrapper {
    position:relative;
    min-height: 100%;
    background: rgba(0, 0, 0, 0);
}
.apply-button {
    white-space: normal!important;
}
.apply-block {
    width: 200px;
}
.apply-block a {
    text-decoration: none!important;
}
.top-section {

    padding-bottom: 150px;
}
.contact-section {
    
    padding: 50px 0 100px 0;
}
.top-section a, .top-section a:hover {
    color: #fff;
}
.middle-section  {
    padding: 50px 0 100px 0;
  
}

.logo {
    margin-top: -50px;
}
.info-section {
    padding: 50px 0 100px 0;
    background: #fff;
}

.middle-section .caption {
    padding-bottom: 50px;
}

.thumb-bottom-button {
   /* position: absolute; */
    bottom: 15px;
}
.white-text {
    color: #fff;
}
.black-text {
    color: #000;
}
.input-box {
    margin-bottom: 20px;
}
.btn-primary {
    margin-top:15px;
}
.textarea-box {
    text-align: left;
    text-transform: none;
    padding: 9px;
    min-height: 250px;
    padding-left: 15px;
    display: inline-block;
    border-radius: 4px;
    background: rgba(255,255,255, 0.95);
}
.contacts-info-table {
    padding-top: 30px;
    width: 400px;
    margin: 0 auto;
}
.credentials {
    padding: 25px 0;
}
.post-preview {
    padding: 0 0 20px 0;
}
.form-padding {
    padding: 0 0 70px 0;
}
.site-page {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px
}
#contact-form label, #contact-form .help-block-error {
    color: black;
}
#contacts .container {
        position: absolute;
    z-index: 999;
    right: 0px;
    width: 600px;
    bottom: 70px;
        padding: 0;
    background: #fff;

}
.contact-toggle {
    cursor:pointer;
    background: #000;
    padding: 10px 0;
   
}
.contact-toggled {
    display:none;
    padding: 10px 10px 20px 10px;
}
header{
    height: 70px;
}
.thumb-bottom-button {
position: absolute;
bottom: 15px;
}
@media (min-width: 992px) {
  .middle-section .thumbnail {
    margin: 4px 15px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

}
@media (max-width: 992px) {
 .thumbnail {
    border: none;
 }
  
}
